#chat-part {
    box-shadow: 0 0 10px #4f868a;
    display: none;
    width: 80% !important;
    max-width: 850px;
    height: 60vh;
    border-radius: 10px;
    margin: auto;
    background: rgb(37,46,71);
    background: linear-gradient(180deg, rgba(37,46,71,1) 0%, rgba(9,24,66,1) 50%, rgba(0,17,62,1) 100%);
    background-image: url(/images/1.jpeg);
    background-size: cover;
}

#chat-part h2 {
    color: whitesmoke;
    text-align: center;
}

#players, #chat-page{
    /* border: 2px solid rgb(109 145 145); */
    height: 60vh;
    border-radius: 5px;
}

#chat-page {
    border-left: none;
}

#secondd, #firstt {
    background-color: rgb(0, 12, 45, 0.90);
    box-shadow: 0 0 10px #0e1c1f;
    border-radius: 10px;
    width: 90%;
    height: 15%;
    margin: 15px auto;
}

#firstt {
    height: 10%;
    width: 100%;
}

#messages {
    background-color: rgba(0, 12, 45, 0.90);
    border-radius: 10px;
    box-shadow: 0 0 10px #0e1c1f;
    width: 90%;
    height: 75%;
    margin: auto;
    /* border: 2px solid aqua; */
}

#insert-msg {
    width: 85%;
    margin: auto;
    position: relative;
    bottom: 15%;
}

#insert-msg i {
    font-size: 20px;
    color: rgb(73, 2, 139);
}

#send-icon {
    width: 50px;
    height: 50px;
    border: 2px solid aqua;
    border-radius: 50%;
    margin: 10px 0 0 85%;
}

.input-group {
    height: 50px !important;
    top: 43%;
}

#insert-msg .btn {
    background-color: whitesmoke;
    box-shadow: none;
}
.input-group-text {
    padding: 0;
}

#chats {
    background-color: rgb(0, 12, 45, 0.90);
    border-radius: 10px;
    box-shadow: 0 0 10px #0e1c1f;
    width: 100%;
    height: 80%;
    margin: auto;
}