#friends-part {
    display: none;
    /* width: 250px;
    height: 150px;
    margin: auto;
    border: 3px solid rgb(0, 255, 255); */
}

#nav-bar {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(96 102 125);
    gap: 15px;
    width: calc(100vw - 230px); /* maybe need to change later;
    margin: 0 auto;
}

#nav-bar .btn {
    color: white;
    font-size: 20px;
    width: 150px;
    /* background-color: #391363; */
}

#nav-bar .btn:hover {
    background-color: #42424294;
}

#friends-part > h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}