:root {
    --uInfo_height: 20vh;
}

@media (min-width: 0px) and (max-width: 575px) {
    :root {
        --uInfo_height: 40vh;
    }
    #user-info {
        box-shadow: none !important;
    }
    #profile-part {
        height: 100vh !important;
        top: 70px !important;
        width: 80vw !important;
        min-width: 307px;
    }
    #first, #second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        margin: 20px auto !important;
    }
    #user-picture {
        width: 64px !important;
        height: 64px !important;
        bottom: 59px !important;
    }
    #match-history {
        height: 191px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    :root {
        --uInfo_height: 32vh;
    }
    #profile-part {
        height: 68vh !important;
        top: 70px !important;
        width: 80vw !important;
    }
    #first, #second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        margin: 20px auto !important;
    }
    #user-picture {
        width: 64px !important;
        height: 64px !important;
        bottom: 59px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    :root {
        --uInfo_height: 20vh;
    }
    #profile-part {
        width: 80vw !important;
    }
}

#profile-part {
    display: none;
    background-color: #7b45a645;
    box-shadow: 0 0 10px #4fb0c6;
    border-radius: 20px;
    width: 82vw;
    height: 75vh;
    margin: auto;
    position: relative;
    top: 46px;
    background-image: url(/images/2.jpeg);
    background-size: cover;
}

#statistics h1 {
    text-align: center;
    color: rgb(194, 223, 213);
}

#user-info {
    border-bottom: 2px solid white;
}

#match-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#user-info h1, #statistics h1 {
    color: white !important;
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

#profile-part #statistics {
    /* border: 2px solid red; */
    height: calc(100vh - var(--uInfo_height) - 27vh);
    overflow-y: auto;
}

.game-record {
    height: 100px;
    width: 90%;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 0 0 7px aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    background-color: #051f35c2;
}

#me, #enemy {
    height: 64px;
    width: 64px;
    border: 2px solid aqua;
    transform: rotate(45deg);
}

#vs i {
    font-size: 30px;
}

#match {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#user-info h2 {
    color: aquamarine !important;
    /* text-align: center; */
    font-size: 20px !important;
    font-weight: bold;
}

#user-info h4 {
    /* color: rgb(194, 223, 213) !important;
    text-align: center; */
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 7px;
}

#user-picture {
    margin: auto;
    position: relative;
    bottom: 17%;
    width: 128px;
    height: 128px;
    background-image: url(/images/me.jpg);
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #448ca2;
    border: solid #217788 4px;
}

#us {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5%;
}

#my-picture {
    height: 128px;
}

/* #user-picture > i {
    font-size: 64px;
    position: absolute;
    left: 32px;
    top: 25px;
    color: #c6e1dc;
} */

/* #first-empty {
    height: 100%;
} */

.uInfo {
    color: #c6e1dc;
}

#first {
    /* width: 40%; */
    /* background-color: #4fb0c6; */
    /* margin: 10px auto; */
    border-right: 2px solid white;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-items: center;
    border-right: 2px solid white;
}

.progress {
    width: 100%;
}

.progress-bar-animated {
    background-color: #0a496b;
}

/* #profile-part > h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
} */