#setting-part {
    display: none;
    height: 100vh;
    width: calc(100% - 215px);
    min-width: calc(100% - 16.66666667%);
}

#setting-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(96 102 125);
    gap: 3%;
    height: 50px;
    margin: 0 auto 20px auto;
}

.setting-nav-btn {
    color: white;
    font-size: 20px;
    width: fit-content !important;
}

#profile-setting, #themes, #options {
    overflow-y: auto;
    height: calc(100vh - 50px - 20px); /* 50px height of nav-bar 20px margin-bottom of nav-bar */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
